<section>
  <h2>Liste des Stagiares du greta de DAX (promo : 2018 - 2019)</h2>

  <!-- <article *ngFor="let etu of data.devjunior">
    <h3>{{ etu.nom }}</h3>
    <p>{{ etu.phrase }}</p> -->
  <!-- <img [src]="etu.img"> -->
  <!-- </article> -->

  <table>
    <tr>
      <th>Nom</th>
      <th>Statut</th>
      <th>Niveau d'anglais</th>
    </tr>
    <tr *ngFor="let user of data.devjunior">
      <td>{{ user.nom }}</td>
      <td>{{ user.phrase }}</td>
      <td>{{ user.niveau }}</td>
    </tr>
  </table>
  <p>
    * Différent niveaux d'anglais : A : Utilisateur élémentaire | B : Utilisateur indépendant | C : Utilisateur expérimenté
  </p>

</section>