
  <section>
      <div class="vertical-menu">
          <a href="/assets/datas/Anglais/Aide_memoire_informatique-Eng_fr.pdf" target="_blank">Aide mémoire</a>
          <a href="/assets/datas/Anglais/ColorConstructionPhraseTableauMemo.pdf" target="_blank">Construction formes</a>
          <a href="/assets/datas/Anglais/ConstructionPhraseTableauMemo.pdf" target="_blank">Tableaux des temps</a>
          <a href="/assets/datas/Anglais/FloPresSimplePreteritSimple.pdf" target="_blank">Présent / Prétérit</a>
          <a href="/assets/datas/Anglais/liste-verbes-irreguliers.pdf" target="_blank">Verbes irréguliers</a>
          <a href="/assets/datas/Anglais/PresentExpressions.pdf" target="_blank">Present Expressions</a>
          <a href="/assets/datas/Anglais/TempsBIS.pdf" target="_blank">Les temps</a>
          <a href="/assets/datas/Anglais/Useful_links_in_English.pdf" target="_blank">Liens utiles</a>
      </div>
    </section>