.vertical-menu {
    width: 200px;
    margin: auto;
margin-top: 20px;
  }
  
  .vertical-menu a {
    text-decoration: none;
    background-color: #0795d6;
    color:#ffffff;
    display: block;
    padding: 12px;
    
  }
  
  .vertical-menu a:hover {
    background-color: rgb(0, 0, 0);
  }
  
  .vertical-menu a.active {
    background-color: #3e444c;
    color: white;
  }
