<section>
  <div class="vertical2-menu">
      <a href="/assets/datas/Prestashop/00_Introduction.pdf" target="_blank">Partie 0 : Introduction</a>
      <a href="/assets/datas/Prestashop/01_Interface_Front-end.pdf" target="_blank">Partie 1 : Interface Front-end</a>
      <a href="/assets/datas/Prestashop/02_Page-d-accueil.pdf" target="_blank">Partie 2 : Interface Page d'accueil</a>
      <a href="/assets/datas/Prestashop/03_Customisation.pdf" target="_blank">Partie 3 : Customisation</a>
      <a href="/assets/datas/Prestashop/04_Interface_Back-end-Suite.pdf" target="_blank">Partie 4 : Interface Back-end</a>
      <a href="/assets/datas/Prestashop/05_deploiement.pdf" target="_blank">Partie 5 : Déploiement</a>
      <a href="/assets/datas/Prestashop/Guide_Utilisateur_PrestaShop2017.137783298.pdf" target="_blank">Guide Prestashop 2017</a>
      <a href="/assets/datas/Prestashop/installer_activer_module_mod_rewrite_sur_apache_et_ubuntu _ développement web et applications mobiles.pdf" target="_blank">Module mod_rewrite</a>
  </div>
</section>
