
  <section>
      <div class="vertical2-menu">
          <a href="/assets/datas/droits_informatique/2017_GUIDE_Achats-en-ligne_FEVAD.pdf" target="_blank">Guide FEVAD</a>
          <a href="/assets/datas/droits_informatique/Chiffres-Cles-2018.pdf" target="_blank">Chiffre clé 2018</a>
          <a href="/assets/datas/droits_informatique/Droits_d_Auteurs.pdf" target="_blank">Droits d'Auteurs</a>
          <a href="/assets/datas/droits_informatique/LA_PROTECTION_DU_LOGICIEL_PAR_LE_DROIT_D_AUTEUR.pdf" target="_blank">Protection logiciel</a>
          <a href="/assets/datas/droits_informatique/LICENCES_GRATUITES.pdf" target="_blank">Licences gratuites</a>
      </div>
    </section>