<section>
    <div class="vertical-menu">
        <a href="/assets/datas/HTML_CSS/01-Notion de développement Web.pdf" target="_blank">01. Notion</a>
        <a href="/assets/datas/HTML_CSS/02-Differences_intégrateur-developpeur.pdf" target="_blank">02. Differences</a>
        <a href="/assets/datas/HTML_CSS/03-Historique-HTML.pdf" target="_blank">03. Historique</a>
        <a href="/assets/datas/HTML_CSS/04-StructureHTML_cours1.pdf" target="_blank">04. Structure 1</a>
        <a href="/assets/datas/HTML_CSS/05-StructureHTML_cours2.pdf" target="_blank">05. Structure 2</a>
        <a href="/assets/datas/HTML_CSS/06_intro-template.pdf" target="_blank">06. Intro template</a>
        <a href="/assets/datas/HTML_CSS/css_avancees.pdf" target="_blank">CSS avancées</a>
        <a href="/assets/datas/HTML_CSS/Memento_html5.pdf" target="_blank">Memento html5</a>
    </div>
  </section>