<h1>Bienvenue sur la page Congés</h1>
<section>
  <nav>
    <ul>
      <li><a href routerLink="/intranet/conges/demande-conges" routerLinkActive="active">Demande de congés</a></li>
      <li><a href routerLink="/intranet/conges/recuperation" routerLinkActive="active"> Récupération</a></li>
      <li><a href routerLink="/intranet/conges/conges-exeptionnels" routerLinkActive="active">Congés exceptionnels</a></li>
      <li><a href routerLink="/intranet/conges/consulter-demande" routerLinkActive="active">Consulter demande</a></li>
    </ul> 
  </nav>


  <router-outlet></router-outlet>


</section>