<section>

  <h1>Bienvenue sur ma page congés</h1>
  <nav>
    <ul>
      <li><a href routerLink="/intranet/conges/demande-conges">Demande de congés</a></li>
      <li><a href routerLink="/intranet/conges/recuperation"> Récupération</a></li>
      <li><a href routerLink="/intranet/conges/conges-exeptionnels">Congés exceptionnels</a></li>
      <li><a href routerLink="/intranet/conges/consulter-demande">Consulter demande</a></li>
    </ul> 
  </nav>


  <router-outlet></router-outlet>


</section>