<!-- onglet congés -->
<div>
  <div class="" id="conges">
    <!--NEW GABARIT CONGES-->

    <form action="" class="form-horizontal" role="form" method="post" accept-charset="utf8">
      <div class="margintop">
        <div class="">
          <label class="encadrementtitle">Début d'absence</label>
          <div class="">
            <div class="input-group-date" id="datetimepicker1" data-date-format="DD/MM/YYYY">
              <input type="date" name="txtDateDebutAbs" value="" maxlength="10"
                class="form-control datepicker">
              <!--  matin apres-midi -->
              <label><input type="radio" name="demiA" value="08:00:00" checked=""
                  style="margin-right: 5px">Matin</label>
              <label><input type="radio" name="demiA" value="13:30:00"
                  style="margin-right: 5px; margin-left: 15px">Après-midi</label>
            </div>
          </div>
        </div>
        <div class="groupe">
          <label class="encadrementtitle">Fin d'absence</label>
          <div class="">
            <div class="input-group-date" id="datetimepicker2" data-date-format="DD/MM/YYYY">
              <input type="date" name="txtDateFinAbs" value="" maxlength="10" class="form-control datepicker">
              <label> <input type="radio" name="demiB" value="" style="margin-right: 5px">Matin</label>
              <label><input type="radio" name="demiB" value="" checked=""
                  style="margin-right: 5px; margin-left: 15px">Après-midi</label>
            </div>
          </div>
        </div>
        <div class="groupe">
          <label class="encadrementtitle">Reprise effective</label>
          <div class="col-md-4">
            <div class="input-group-date" id="datetimepicker3" data-date-format="DD/MM/YYYY">
              <input type="date" name="txtDateReprise" value="" maxlength="10"
                class="form-control datepicker">
              <label><input type="radio" name="demiC" value="08:00:00" checked=""
                  style="margin-right: 5px">Matin</label>
              <label><input type="radio" name="demiC" value="13:30:00"
                  style="margin-right: 5px; margin-left: 15px">Après-midi</label>
            </div>
          </div>
        </div>
        <div class="groupe">
          <label class="encadrementtitle">Type de congés</label>
          <div class="form-group">
            <label class="col-md-3 control-label">Congés payés</label>
            <div class="col-md-1 radio">
              <input type="radio" name="rd_type_abs" value="CP" checked="checked">
            </div>
            <label class="col-md-3 control-label">Congés sans solde</label>
            <div class="col-md-1 radio">
              <input type="radio" name="rd_type_abs" value="Congés sans solde">
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="encadrementtitle encadrementtitle2">
      <div class="margintop">
        <h4 style="color: black; font-weight: bold; font-size: 15px; margin-top: 0px;">Pour une demi-journée :
        </h4>
        <p style="color: black; font-size: 14px"> - Début d'absence = 08/04/2019 Matin</p>
        <p style="color: black; font-size: 14px">- Fin d'absence = 08/04/2019 Matin</p>
        <p style="color: black; font-size: 14px">- Reprise effective = 08/04/2019 Après-midi</p>
      </div>
      <div class="groupe">
        <h4 style="color: black; font-weight: bold; font-size: 15px; margin-top: 0px;">Pour une journée et demi :
        </h4>
        <p style="color: black; font-size: 14px"> - Début d'absence = 22/04/2019 Matin</p>
        <p style="color: black; font-size: 14px">- Fin d'absence = 23/04/2019 Matin</p>
        <p style="color: black; font-size: 14px">- Reprise effective = 23/04/2019 Après-midi</p>
      </div>
    </div>

    <!--FIN NEW GABARIT CONGES-->

    <br>
   
  </div>