section{
    width: 86%;
    margin: 6rem auto;;
}
h1{
    color: wheat;
    text-shadow: 2px 2px 8px #333;
    font-size: 1.8rem;
}

li{
    margin: 2.4rem;
    line-height: 180%;
}
u{
    color: wheat;
    font-weight: bold;
}