<section>
  <H1>Un site en NANGULAR qu'il est beau !!!</H1>
  <h3>Présentation succincte :</h3>
  <ul>
    <li>
      <u>Congès</u> : &nbsp; &nbsp; après avoir découvert (suite à un delirium tremens de notre admin... HIC*¤*) qu'ils
      pouvaient prendre entre 250 et 350 jours de congès, les dév désignés au développement de ce composants sont...
      partis en vacances! Donc, pas de section congès fonctionnelle
    </li>
    <li>
      <u>Gestion utilisateur/Gestion personnel</u> : &nbsp; &nbsp; dans un soucci de faire plaisir à Fabrice, cette section s'est vue
      imposée la contrainte PHP... <br> Heureusement, nos ingénieux développeurs (qui ne sont pas partis en
      vacances: on a
      corrigé le bug des congès avant qu'ils ne le puissent héhéhé ^^) ont choisi la solution <u>API RestFull CRUD PHP</u>
      pour faire plaisir au papi = en cours de création... 
      <br><em>[ base SQL présente dans le dossier global du projet 'bapaweb.sql' ]</em>
    </li>
    <li>
      <u>Contrat de travail</u> : &nbsp; &nbsp; l'enregistrement des modifications fonctionnent grâce à un back-end
      Firebase; resterait à rajouter les fonctions d'ajout et de suppression de contrat...</li>
    <li>
      <u>Questions fréquentes</u> : &nbsp; &nbsp; dernier dév de notre admin avant (ou pendant...?!) son delirium
      tremens...</li>
    <li>
      <u>Se déconnecter</u> : &nbsp; &nbsp; si t'as pas compris à quoi ça servait, tu peux sortir...!</li>
  </ul>
</section>