<section>
  <div class="vertical2-menu">
      <a href="/assets/datas/NodeJS/0_Introduction_NodeJS_partie1.pdf" target="_blank">NodeJS Partie 0 : L'intégrateur WEB</a>
      <a href="/assets/datas/NodeJS/1_Cours_Node_Express_p1-16.pdf" target="_blank">NodeJS Partie 1 : Node Express</a>
      <a href="/assets/datas/NodeJS/2_TP_NodeJS_Express_Hbs.pdf" target="_blank">NodeJS Partie 2 : Node Express HBS</a>
      <a href="/assets/datas/NodeJS/4_Cours_Node_Mongo.pdf" target="_blank">NodeJS Partie 4 : Node Mongo</a>
      <a href="/assets/datas/NodeJS/5_Cours_Node_Handlebars_Helpers.pdf" target="_blank">NodeJS Partie 5 : Handlebars_Helpers</a>
      <a href="/assets/datas/NodeJS/7_Cours_Node_Express_Insersion_modification_users.pdf" target="_blank">NodeJS Partie 7 : Insert Modif Users</a>
      <a href="/assets/datas/NodeJS/9_Cours_Node_Généralisation_factorisation.pdf" target="_blank">NodeJS Partie 9 : Généralisation et Factorisation</a>
      <a href="/assets/datas/NodeJS/Cours_Node_Express_Handlebars_BD-SQL.pdf" target="_blank">NodeJS Partie 9 : BD - SQL</a>
      <a href="/assets/datas/NodeJS/Cours_Node_Express_Handlebars_Mongoose.pdf" target="_blank">NodeJS Partie 9 : Mongoose</a>
      <a href="/assets/datas/NodeJS/Cours_Node_modules_génériques.pdf" target="_blank">NodeJS Partie 9 : Modules génériques</a>
      <a href="/assets/datas/NodeJS/TD_Node_Express_Handlebars_Mongo.pdf" target="_blank">NodeJS Partie 9 : TD Mongo</a>
  </div>
</section>
