<h2>Demande de Récupération</h2>
<form action="" class="form-horizontal" role="form" method="post" accept-charset="utf8">
  <div class="margintop">
    <div class="">
      <label class="encadrementtitle">Début d'absence</label>
      <div class="">
        <div class="input-group-date" id="datetimepicker1" data-date-format="DD/MM/YYYY">
          <input type="date" name="txtDateDebutAbs" value="" maxlength="10"
            class="form-control datepicker">

        </div>
      </div>
    </div>
    <div class="groupe">
      <label class="encadrementtitle">Fin d'absence</label>
      <div class="">
        <div class="input-group-date" id="datetimepicker2" data-date-format="DD/MM/YYYY">
          <input type="date" name="txtDateFinAbs" value="" maxlength="10" class="form-control datepicker">
          
        </div>
      </div>
    </div>
    <div class="groupe">
      <label class="encadrementtitle">Reprise effective</label>
      <div class="">
        <div class="input-group-date" id="datetimepicker3" data-date-format="DD/MM/YYYY">
          <input type="date" name="txtDateReprise" value="" maxlength="10"
            class="form-control datepicker">
        </div>
      </div>
    </div>
  
  </div>
</form>