<h1>Bienvenue sur la page Administration</h1>
<section>

    <nav>
      <ul>
        <li><a href routerLink="/intranet/administration/bapa" routerLinkActive="active">BAPA</a></li>
        <li><a href routerLink="/intranet/administration/contrat-de-travail" routerLinkActive="active">Contrat de travail</a></li>
        <li><a href routerLink="/intranet/administration/gestion-utilisateur" routerLinkActive="active">Gestion utilisateur</a></li>
        <li><a href routerLink="/intranet/administration/securite" routerLinkActive="active">Securité</a></li>
      </ul> 
    </nav>

    <router-outlet></router-outlet>

</section>

