<!-- <app-menu></app-menu> -->

<section>

    <h1>Bienvenue sur ma page administration</h1>
    <nav>
      <ul>
        <li><a href routerLink="/intranet/administration/bapa">BAPA</a></li>
        <li><a href routerLink="/intranet/administration/contrat-de-travail">Contrat de travail</a></li>
        <li><a href routerLink="/intranet/administration/gestion-utilisateur">Gestion utilisateur</a></li>
        <li><a href routerLink="/intranet/administration/securite">Securité</a></li>
      </ul> 
    </nav>
    
    <router-outlet></router-outlet>

  
</section>

