<section>
  <div class="vertical-menu">
      <a href="/assets/datas/UML/GRETA-UML-2018.pdf" target="_blank">GRETA-UML-2018</a>
      <a href="/assets/datas/UML/uml-cours-slides.pdf" target="_blank">UML-cours-slides</a>
      <a href="/assets/datas/UML/UML-DA.pdf" target="_blank">UML- Diagramme Activités et actions</a>
      <a href="/assets/datas/UML/UML-DC.pdf" target="_blank">UML - Diagramme de classes</a>
      <a href="/assets/datas/UML/UML-DE.pdf" target="_blank">UML - Diagrammes d'état</a>
      <a href="/assets/datas/UML/UML-DUC.pdf" target="_blank">UML - Cas d'utilisation</a>
</div>
</section>
