footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: wheat;

}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: none;
}