<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> gGabriel
p{
    background-color: white;
    text-align: center;
    width: 400px;
    margin-top: 50px;;
    margin-right: auto;
    margin-left: auto;
    padding :10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    border-radius: 10px; 
<<<<<<< HEAD
  }
=======
  }
=======
h1, h3 , a{
  text-align: center;
  color: tomato;
  font-style: oblique;
  text-shadow: 1px 1px 1px black;
}

section {
  display: flex;
  justify-content: center;
}
>>>>>>> 8309cb4b60d15c704f39da0f6ce53c1ed6dc099a
>>>>>>> gGabriel
