ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align:center;
  }
  
  li {
    float: left;
    margin:auto;
    padding:0;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

    nav ul li ul {
    display:none;
    }
    nav ul li:hover ul {
    display:block;
    }
   nav li:hover ul li {
    float:none;
    }