<nav class="h">
    <ul id="menu-deroulant">
        
        <li>
            <a href routerLink="/intranet/conges">Congés</a>
            <ul>
                <li><a href routerLink="/intranet/CongesExceptionels">Conges exceptionnel</a></li>
                <li><a href routerLink="/intranet/consultation_conges">Consultation des conges</a></li>
            </ul>
        </li>
        <li>
            <a href routerLink="/intranet/com">Espace communication</a>
        </li>
        <li>
            <a href routerLink="/intranet/manager">Accès manager</a>
        </li>
        <li>
            <a href routerLink="/intranet/admin">Administration</a>
        </li>
       
    </ul>
</nav>
