<nav>
  <ul>
    <li><a href routerLink="/intranet/administration" routerLinkActive="active">Accueil</a></li>
    <li><a href routerLink="/intranet/conges" routerLinkActive="active">Congés</a></li>
    <li><a href routerLink="/intranet/espace-communication" routerLinkActive="active">Espace Communication</a></li>
    <li><a href routerLink="/intranet/administration" routerLinkActive="active">Administration</a></li>
    <li><a href routerLink="/intranet/manager" routerLinkActive="active">Manager</a></li>
    <li><a href routerLink="/connexion" routerLinkActive="active" (click)="deconnexion()">Déconnexion</a></li>
    <li><a href routerLink="/intranet/a-propos" routerLinkActive="active">A propos</a></li>
  </ul> 
</nav>

<!-- <p>
  menu works!
</p> -->
