<nav>
    <ul class="nav-ul">
        <li class="nav-li">
            <a href routerLink="/intranet/conges">Congés</a>
        </li>
        <li class="nav-li">
            <a href routerLink="/intranet/communication">Mon communication</a>
        </li>
        <li class="nav-li">
            <a href routerLink="/intranet/manager">manager</a>
        </li>
        <li class="nav-li">
            <a href routerLink="/intranet/adminisration">adminisration</a>
        </li>
        <li class="nav-li">
            <a href routerLink="/intranet/covoiturage">covoiturage</a>
        </li>
        <li class="nav-li">
            <a href routerLink="/intranet/guide-utlisateur">guide utilisateur</a>
        </li>
        <li class="nav-li">
            <a href routerLink="/intranet/a-propos">a propos</a>
        </li>
        <li class="nav-li">
            <a href routerLink="">deconnexion</a>
        </li>
    </ul>
</nav>
<h1>FMS</h1>
<h3>BAPA WEB - Module de gestion du temps & activités </h3>