<nav>
  <ul>
    <li><a href routerLink="/intranet" class="active">Dashboard</a></li>
    <li><a href routerLink="/intranet/conges">Congés</a></li>
    <li><a href routerLink="/intranet/com">Espace communication</a></li>
    <li><a href routerLink="/intranet/manager">Accès manager</a></li>
    <li><a href routerLink='/intranet/administration'>Administration</a></li>
    <li><a href routerLink='/intranet/administration/contrat-travail'>Admin - Contrat </a></li>
    <li><a href routerLink='/test'>Test </a></li>
    <li><a href routerLink='/intranet/faq'>Questions fréquentes</a></li>
  </ul>
</nav>
