<section>
  <div class="vertical-menu">
      <a href="/assets/datas/JAVA/bases-du-langage-java-debutant.pdf" target="_blank">Base java : Débutant</a>
      <a href="/assets/datas/JAVA/Java_Cours_FMS_Partie_1_Les_Bases_du_Langage.pdf" target="_blank">Partie 1 : Base</a>
      <a href="/assets/datas/JAVA/Java_Cours_FMS_Partie_2_Les_Concepts_Objet.pdf" target="_blank">Partie 2 : Objet</a>
      <a href="/assets/datas/JAVA/Java_Cours_FMS_Partie_3_Threads_Socket.pdf" target="_blank">Partie 3 : Threads_Socket</a>
      <a href="/assets/datas/JAVA/Java_Pour_les_Enfants_parents_grands_parents.pdf" target="_blank">JAVA pour tous</a>
  </div>
</section>