.congesExceptionnels {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.congesExceptionnels h1{
    color:black;
    margin-top: 20px;
}

select {
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 50px;
    
}

.debutConges .finConges .repriseEffective .btn {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border : 1px solid;
    border-radius: 3px;
    margin:0px 0px 20px 0px;
    color : black;
    background-color: #F5F6F7;
}


input#dateDebutConges, input#dateFinConges, input#dateRepriseEffective{
    margin : 0px 0px 1px 0px;
}

.btn{
    margin-top: 20px;
    font-weight: bold;
    font-variant: small-caps;
}

label{
    background-color : black;
    border-radius: 3px;
    font-weight: bold;
    font-size: medium;
    color: white;
}

.info{
    display : flex;
    flex-direction: column;
    align-items: center;
}
