<section class="congesExceptionnels">

  <h1>Demande de congés exceptionnels</h1>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <label for="dateDebutConges">Veuillez saisir votre date de début de congés : </label>
      <input class='debutConges' type="date" id="dateDebutConges" name="dateDebutConges"ngModel required/>
      <select id="matin_amD" class='debutConges' name="matin_amD" ngModel required>
          <option value="matin_amD">Matin</option> 
          <option value="matin_amD">Après-midi</option>
      </select>
   
      <label for="dateFinConges">Veuillez saisir votre date de fin de congés : </label>
      <input class='finConges' type="date" id="dateFinConges" name="dateFinConges" ngModel required/>
      <select id="matin_amF" class='debutConges' name="matin_amF" ngModel required>
          <option value="matin_amF">Matin</option> 
          <option value="matin_amF">Après-midi</option>
      </select>
    
      <label for="dateRepriseEffective">Veuillez saisir votre date de reprise effective : </label>
      <input class='repriseEffective' type="date" id="dateRepriseEffective" name="dateRepriseEffective" ngModel required/>
        <select id="matin_amR" class='repriseEffective' name="matin_amR" ngModel required>
            <option value="matin_amR">Matin</option> 
            <option value="matin_amR">Après-midi</option>
        </select>

        <label for="motifConges">Motif des congés exceptionnels :</label>
  
        <div *ngFor="let exception of this.congesService.motifConges.exceptionnels; let i=index">
        <div (click)="onClick(i, exception.type)">{{ exception.type }}</div>
        <div *ngIf="isClick==true">
        <ul *ngFor="let info of exception.infos; let j=index">
        <li (click)="onSelect(j, info)">{{info}}</li>
        </ul>
        </div>
        </div>
  
      
      <input type="checkbox" name="certification" ngModel="isCertif" checked>Je certifie sur l'honneur l'exactitude des informations saisies

      <input type="submit" name="btn" [disabled]="f.invalid" value="Valider" >
  

      </form>
      
</section>
