<section>
  <form *ngIf="!authentification.connecte" (ngSubmit)="envoieID()">
    <label for="id">Saisissez un pseudo</label>
    <input name="id" [(ngModel)]="identifiants.id" #iduser="ngModel" minlength="6" placeholder="Votre pseudo" required>
    <div *ngIf="iduser.control.invalid">Merci de saisir un pseudo de 6 carractères</div>
    <label for="id">Saisissez votre mot de passe</label>
    <input name="mdp" [(ngModel)]="identifiants.mdp" placeholder="Votre mot de passe" required>
    <input type="submit" value="Se connecter">
    <input type="reset" value="Annuler">
    
  </form>
  <p *ngIf="!mdpforget">
  <button *ngIf="!mdpmdpforget" (click)="setmdpforget() ; authentification.setConnecte()">Mot de passe oublié</button>
  
    <button *ngIf="authentification.connecte" (click)="authentification.setConnecte()">Se déconnecter</button>
  </p>

  <form *ngIf="mdpforget" (ngSubmit)="envoieID(); setmdpforget()">
    <label for="id">Saisissez votre email</label>
    <input type="oublieID" type="email" placeholder="Saisissez votre identifiant">
    <input type="submit" value="Recevoir un email">
  </form>
<a href routerLink="/intranet/administration">Intranet</a>
</section>