section {
    flex-direction: column;
<<<<<<< HEAD
    width: 400px;
    text-align: center;
    margin: auto;
}
=======
}

>>>>>>> 0c29ef0b59bcb0adc085beb876491753ccafd8dd
form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
}
.but-custom {
    width: 100px;
    margin: auto;
    margin-top: 10px;
}
p {
    margin: auto;
    width: 180px;
    margin-top: 75px;
    margin-bottom: 10px;
    background-color: aqua;
    border-radius: 4px;
}
.title {
    text-align: center;
    text-decoration: none;
    color: red;
=======
>>>>>>> 0c29ef0b59bcb0adc085beb876491753ccafd8dd
}