
form{
    background-color: white;
    width: 400px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding :10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    border-radius: 10px;
}

label{
    font-size: 22px !important;
    font-weight: bold !important;
    text-align: center;
  }

  p{
    background-color: white;
    width: 400px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: auto;
    padding :10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    border-radius: 10px; 
  }

