<div class="Page-log">
  <form>
        <h1 class="titre-form"><img class="logo-form" alt="bapa web" src="assets/image/mystock.png">BAPA WEB</h1>
    
    <p><label>utilisisateur</label></p>
    <p><input name="identifiant" minlength="5" placeholder="Votre identifant" type="text"></p>

    <p><label>Mot de passe</label></p>
    <p><input name="mdp" placeholder="Votre mot de passe" type="password"></p>

    <a href routerLink="/intranet/"><input type="submit" value="Se connecter"></a>
    <p><a href routerLink="/intranet/a-propos">Intranet de la page appropos</a></p>
    <p>Mot de passe oublier</p>
  </form>
</div>
<footer>
    <div class="pers-footer">
        <h1>FMS</h1>
    </div>
    <div class="pers-footer">
        <h1>Création du site</h1>
        <p>5 mars 2019</p>
    </div>
    <div class="pers-footer">
        <h1>Tous droit réservé </h1>
        <p>mosambic left</p>
    </div>
    <div class="pers-footer">
        <h1>Mention légale</h1>
    </div>
  </footer>