<h2>Demande de Congés Exeptionnels</h2>

  <div class="encadrementtitle encadrementtitle2">
    <div class="groupe">
      <label class="encadrementtitle">Sélectionner un motif</label>
    </div>
    <label class="groupe">Naissance</label>
    <div class="">
      <input type="radio" name="rd_type_abs" value="Naissance"> </div>
    <div class="groupe">
      <label class="">Mariage d'un enfant</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Mariage d'un enfant"> </div>
    </div>
    <div class="groupe">
      <label class="">Mariage du père / de la mère</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Mariage du père / de la mère"> </div>
    </div>
    <div class="groupe">
      <label class="">Mariage du salarié</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Mariage du salarié"> </div>
    </div>
    <div class="groupe">
      <label class="">Décès du conjoint</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Décès du conjoint"> </div>
    </div>
    <div class="groupe">
      <label class="">Décès d'un enfant</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Décès d'un enfant"> </div>
    </div>
    <div class="groupe">
      <label class="">Décès d'un ascendant</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Décès d'un ascendant"> </div>
    </div>
    <div class="groupe">
      <label class="l">Congés naissance</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Congés naissance"> </div>
    </div>
    <div class="groupe">
      <label class="l">Congés paternité</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Congés paternité"> </div>
    </div>
    <div class="groupe">
      <label class="">Congés maternité</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Congés maternité"> </div>
    </div>
    <div class="groupe">
      <label class="l">Congés parental</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Congés parental"> </div>
    </div>
    <div class="groupe">
      <label class="">Congés présence parental</label>
      <div class="">
        <input type="radio" name="rd_type_abs" value="Congés présence parental"> 
      </div>
    </div>
  </div>
    <form action="" class="form-horizontal" role="form" method="post" accept-charset="utf8">
    <div class="margintop">
      <div class="">
        <label class="encadrementtitle">Début d'absence</label>
        <div class="">
          <div class="input-group-date" id="datetimepicker1" data-date-format="DD/MM/YYYY">
            <input type="date" name="txtDateDebutAbs" value="" maxlength="10" class="form-control datepicker">
          </div>
        </div>
      </div>
      <div class="groupe">
        <label class="encadrementtitle">Fin d'absence</label>
        <div class="">
          <div class="input-group-date" id="datetimepicker2" data-date-format="DD/MM/YYYY">
            <input type="date" name="txtDateFinAbs" value="" maxlength="10" class="form-control datepicker">
          </div>
        </div>
      </div>

    </div>
</form>