
  <section>
    <div class="vertical2-menu">
        <a href="/assets/datas/php/PHP_MVC.pdf" target="_blank">PHP MVC</a>
        <a href="/assets/datas/php/PHP_Partie 1.pdf" target="_blank">PHP Partie 1</a>
        <a href="/assets/datas/php/PHP_Partie 2.pdf" target="_blank">PHP Partie 2</a>
        <a href="/assets/datas/php/PHP_Partie 3.pdf" target="_blank">PHP Partie 3</a>
        <a href="/assets/datas/php/PHP_Partie 4.pdf" target="_blank">PHP Partie 4</a>
      <a href="/assets/datas/php/PHP_MVC.pdf" target="_blank">PHP POO</a>
    </div>
  </section>

     


