<section>
  <div class="vertical-menu">
    <a href routerLink="./" class="active">Espace Communication</a>
    <a href routerLink="/intranet/espace-communication/algo">ALGORITHMES</a>
    <a href routerLink="/intranet/espace-communication/anglais">ANGLAIS</a>
    <a href routerLink="/intranet/espace-communication/angular">ANGULAR</a>
    <a href routerLink="/intranet/espace-communication/appache-cordova">APPACHE / CORDOVA</a>
    <a href routerLink="/intranet/espace-communication/apprendre-a-apprendre">APPRENDRE A APPRENDRE</a>
    <a href routerLink="/intranet/espace-communication/droits-informatique">DROITS INFORMATIQUE</a>
    <a href routerLink="/intranet/espace-communication/gestion-de-projet">GESTION DE PROJET : MERISE</a>
    <a href routerLink="/intranet/espace-communication/git">GIT</a>
    <a href routerLink="/intranet/espace-communication/html-css">HTML / CSS</a>
    <a href routerLink="/intranet/espace-communication/java">JAVA</a>
    <a href routerLink="/intranet/espace-communication/javascript">JavaScript</a>
    <a href routerLink="/intranet/espace-communication/node-js">NodeJS</a>
    <a href routerLink="/intranet/espace-communication/php">PHP MVC</a>
    <a href routerLink="/intranet/espace-communication/prestashop">PRESTASHOP</a>
    <a href routerLink="/intranet/espace-communication/uml">UML</a>
  </div>

 
    <router-outlet></router-outlet>

  
</section>
<app-footer></app-footer>
