

<section>
  <div class="vertical-menu">
    <a href="#" class="active">Espace Communication</a>
    <a href="/assets/datas/Bien_developper_pour_le_Web_2.0_.pdf" target="_blank">Bien développer pour le Web 2.0</a>
    <a href="/assets/datas/Typescript.pdf" target="_blank">Typecript</a>
    <a href="/assets/datas/Anglar.pdf" target="_blank">Anglar</a>
    <a href="/assets/datas/PHP_MVC.pdf">PHP MVC</a>
  </div>
  <div >
    tutu
  </div>
  
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>