<h1 >Bienvenue sur la page Espace Communication</h1>
<section>
    
  <div class="vertical2-menu">
    <a href routerLink="/intranet/espace-communication/accueil" class="active2">Espace Communication</a>
    <a href routerLink="/intranet/espace-communication/algo" routerLinkActive="active">ALGORITHMES</a>
    <a href routerLink="/intranet/espace-communication/anglais" routerLinkActive="active">ANGLAIS</a>
    <a href routerLink="/intranet/espace-communication/angular" routerLinkActive="active">ANGULAR</a>
    <a href routerLink="/intranet/espace-communication/appache-cordova" routerLinkActive="active">APPACHE / CORDOVA</a>
    <a href routerLink="/intranet/espace-communication/apprendre-a-apprendre" routerLinkActive="active">APPRENDRE A APPRENDRE</a>
    <a href routerLink="/intranet/espace-communication/droits-informatique" routerLinkActive="active">DROITS INFORMATIQUE</a>
    <a href routerLink="/intranet/espace-communication/gestion-de-projet" routerLinkActive="active">GESTION DE PROJET : MERISE</a>
    <a href routerLink="/intranet/espace-communication/git" routerLinkActive="active">GIT</a>
    <a href routerLink="/intranet/espace-communication/html-css" routerLinkActive="active">HTML / CSS</a>
    <a href routerLink="/intranet/espace-communication/java" routerLinkActive="active">JAVA</a>
    <a href routerLink="/intranet/espace-communication/javascript" routerLinkActive="active">JavaScript</a>
    <a href routerLink="/intranet/espace-communication/node-js" routerLinkActive="active">NodeJS</a>
    <a href routerLink="/intranet/espace-communication/php" routerLinkActive="active">PHP MVC</a>
    <a href routerLink="/intranet/espace-communication/prestashop" routerLinkActive="active">PRESTASHOP</a>
    <a href routerLink="/intranet/espace-communication/uml" routerLinkActive="active">UML</a>
  </div>

 
    <router-outlet></router-outlet>

  
</section>
