html, body{
    background-color: rgb(7, 149, 214);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

section{
    /* display:flex;
    flex-flow: wrap;  */
}

input[type="text"]{
    margin: 10px;
}
input[type="submit"]{
    background: rgb(66, 184, 221); /* this is a light blue */
}
input[type="reset"]{
    background: rgb(241, 31, 41); /* this is a light blue */
}

input[type="submit"], input[type="reset"], button{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    
}

form input.ng-valid{
    border: 3px solid green;
}

form input.ng-invalid{
    border: 3px solid red;
}
button {
  color: rgb(0, 0, 0);
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){
    background-color: #d7fabf
}
  
  th {
    background-color: #4CAF50;
    color: white;
  }

  /* Tous les menu */
  .active{
    background-color: rgb(0, 0, 0);
  }
  .active2{
    background-color: #3e444c;
  }

  /* Menu vertical */
  .vertical-menu {
    width: 200px;
    margin: auto;
margin-top: 20px;
background-color: #0795d6;
  }
  
  .vertical-menu a {
    text-decoration: none;
    color:#ffffff;
    display: block;
    padding: 12px;
    
  }
  
  .vertical-menu a:hover {
    background-color: rgb(0, 0, 0);
  }
  
  .vertical-menu a:active {
    color: #4caf50;
  }
  
.active{
  background-color: rgb(0, 0, 0);
}

/* Menu vertical2 */

  .vertical2-menu {
    width: 200px;
    background-color: #0795d6;
  }
  
  .vertical2-menu a {
    color:#ffffff;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical2-menu a:active {
    color: #4caf50;

  }
  .vertical2-menu a:hover {
    background-color: rgb(0, 0, 0);
  }
  


