html, body{
    background-color: rgb(7, 149, 214);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

section{
    /* display:flex;
    flex-flow: wrap;  */
}

input[type="text"]{
    margin: 10px;
}
input[type="submit"]{
    background: rgb(66, 184, 221); /* this is a light blue */
}
input[type="reset"]{
    background: rgb(241, 31, 41); /* this is a light blue */
}

input[type="submit"], input[type="reset"], button{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    
}

form input.ng-valid{
    border: 3px solid green;
}

form input.ng-invalid{
    border: 3px solid red;
}