<<<<<<< HEAD
html, body{
    background-color: rgb(7, 149, 214);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

section{
    /* display:flex;
    flex-flow: wrap;  */
}

input[type="text"]{
    margin: 10px;
}
input[type="submit"]{
    background: rgb(66, 184, 221); /* this is a light blue */
}
input[type="reset"]{
    background: rgb(241, 31, 41); /* this is a light blue */
}

input[type="submit"], input[type="reset"], button{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    
}

form input.ng-valid{
    border: 3px solid green;
}

form input.ng-invalid{
    border: 3px solid red;
=======
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 3em 0 0 0;
  background-color: #129C9B;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: whitesmoke;
}

form .ng-valid{
    box-shadow: 2px 2px 4px turquoise; 
}
form .ng-invalid{
    box-shadow: 2px 2px 4px tomato;
>>>>>>> 8309cb4b60d15c704f39da0f6ce53c1ed6dc099a
}