<div class="contener">
  <h2>Bapa est un village du Cameroun, situé dans le département des Hauts-Plateaux dans la région de l'Ouest. Il fait partie de la commune de Bangou. </h2>
  <table>
      <tr>
        <th>Pays</th>
        <th>Région</th>
        <th>Département</th>
        <th>Population</th>
        <th> Coordonnées</th>
      </tr>
      <tr>
        <td>Cameroun</td>
        <td> Ouest</td>
        <td>Hauts-Plateaux</td>
        <td>2 518 hab.1 (2005)</td>
        <td>5° 17′ 20″ nord, 10° 20′ 14″ est</td>
        <!-- <td><a href="{{ user.contrat}}" target="_blank">PDF</a></td> -->
      </tr>
    </table>
  
  <h3>Localisation</h3>
  <img [src]="'assets/datas/Images/Cameroon_map_Lambert-AEA_topographic.png'">

</div>

