<router-outlet></router-outlet>
  <div class="encadrementtitle certification">
    <div class="col-md-5">
      <input type="checkbox" name="chk_certification"
        value="Je certifie sur l'honneur de l'exactitude des informations saisies"> <label class="control-label">Je
        certifie sur l'honneur de l'exactitude des informations saisies</label>
    </div>
  </div>
  
  <div class="alert-warning">Rappel :<br>
    Pour avoir droit à un congés payé, il faut avoir été occupé chez le
    même employeur
    pendant un temps équivalent à un minimum d'un mois de travail effectif entre le 1er juin de l'année précédente
    et
    le 31 mai
    de l'année en cours (Code du travail L223-2 ; R223-1). Lorsqu'il a travaillé pendant au moins quatre semaine, le
    salarié peut
    prendre les congés payés par anticipation ainsi acquis dès l'ouverture des droits, sans attendre la période
    légale
    des congés.
    La prise des congés par anticipation nécessite l'accord expresse du salarié et de l'employeur (L 223-2).
    La période des congés payés est fixé par l'employeur en se référant aux usages (L223-7).
    Les dates de départs en congés sont fixées par l'employeur (L 223-7), seul l'employeur peut juger si le congé
    demandé est
    conforme aux nécessités du service, sous réserve d'abus manifeste. Une fois les dates de départ en congés
    fixées,
    il est
    possible de les modifier à condition de le faire au moins un mois avant la date initialement prévue. Le salarié
    qui abandonne
    son poste de travail sans justification commet une faute justifiant son licenciement. Les circonstances de cet
    abandon et les
    responsabilités du salarié entrent en ligne de compte. (Cass. Soc., 15 avr. 1983, N°81-40.532).
  </div>
  <div class=""><input class="btn-valider" type="submit" alt="Valider" value="Valider"></div>
