<section>
    <h2>Liste des Employés developpeur du pôle de DAX</h2>
  
    <!-- <article *ngFor="let etu of data.devjunior">
      <h3>{{ etu.nom }}</h3>
      <p>{{ etu.phrase }}</p> -->
    <!-- <img [src]="etu.img"> -->
    <!-- </article> -->
  
    <table>
      <tr>
        <th>Nom</th>
        <th>Statut</th>
        <th>Niveau d'anglais</th>
        <th>Tuteur de</th>
      </tr>
      <tr *ngFor="let user of data.devemploye">
        <td>{{ user.nom }}</td>
        <td>{{ user.phrase }}</td>
        <td>{{ user.niveau }}</td>
        <td>{{ user.tuteurde}}</td>
      </tr>
    </table>
    <p>
      * Différent niveaux d'anglais : A : Utilisateur élémentaire | B : Utilisateur indépendant | C : Utilisateur expérimenté
    </p>
  
  </section>
