/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 3em 0 0 0;
  background-color: #129C9B;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: whitesmoke;
}

form .ng-valid{
    box-shadow: 2px 2px 4px turquoise; 
}
form .ng-invalid{
    box-shadow: 2px 2px 4px tomato;
}

/* CSS TABLEAUX */
table {
  border-collapse: collapse;
  width: 92%;
  margin: auto;
}
table th,
table td {
  border: 1px solid black;
  padding: 10px 6px;
}
